/*
        CSS基本语法：
        选择器 声明块
        选择器：选定界面中指定元素

        声明块：通过声明块为元素设置样式
              声明块由一个个声明组成
              声明为一个名值对结构
              一个样式名对应一个样式值,用;隔开,以;结尾
*/
/*
        元素选择器
        作用：根据标签名选择指定的元素
        语法：标签名{}
        例子：p{} h1{} div{}
 */
        h1{color: green;}
/*
        id选择器
        作用：根据元素的id选择指定的元素
        语法：#id属性值{}

        类选择器
        如果想把多个元素设置为同一样式，则可用class来标识，
        所有的class相同值都会被渲染
        语法:.class属性值{}
        可以为同一个元素指定多个class属性，之间用空格隔开

        通配选择器
        作用：选中页面中所有元素
        语法：*{}

*/
        #top{color:green;}
/*
        复合选择器：
        交集选择器
        作用：选中同时符合多个条件的元素
        语法：选择器1.选择器2.选择器3.选择器n{}
        注意：必须要元素选择器开头  eg:div.class属性名{}

        选择器分组（并集选择器）
        作用：同时选择多个选择器对应元素
        语法：选择器1,选择器2,选择器n{}

*/


/*
        关系选择器：
        父元素
             -直接包含子元素叫做父元素
        子元素
             -直接被父元素包含的是子元素
        语法：父元素 > 子元素{}
        祖先元素
             -直接或间接包含后代元素的叫做祖先元素
             -一个元素的父元素也是它的祖先元素
        后代元素
             -直接或间接被祖先元素包含的叫做后代元素
             -子元素也是后代元素
        语法：父元素（空格）子元素{}
        兄弟元素
             -拥有相同父元素的元素叫做父元素
        语法：
             1.前一个+下一个兄弟{}
             2.前一个~想选的兄弟元素{}  注意：是选择所有的兄弟
*/

/*
         属性选择器：
         元素名[属性名] 选择含有指定元素属性的元素
         元素名[属性名=属性值] 选择含有指定元素属性和属性值的元素
         元素名[属性名^=属性值] 选择属性值指定开头的属性值
         元素名[属性名$=属性值] 选择属性值指定值结尾的元素
         元素名[属性名*=属性值] 属性值中含有某值的元素
*/
/*
          伪类选择器：
          -用来描述一个元素的特殊状态；例如第一个元素，被点击的元素，鼠标移入的元素....
          -伪类一般情况下使用:开头
          1. :first-child  第一个子元素
          2. :last-child 最后一个元素
          3. :nth-child() 第n个子元素（n的范围为0到正无穷）
            -特殊的，:nth-child(2n)表示选择偶数位置元素 even可替换2n  :nth-child(2n+1) odd也可替换2n+1
          注意:以上伪类均指的是所有元素的排序

             first-of-type
             last-of-type
             nth-of-type()
               -这几个伪类的功能和上述相似，不同点是他们是在同类元素进行排序

             ;not() 否定伪类
             将符合条件的元素从选择器中去除


          超链接伪类
          a:link{} 给没有访问过的链接设置样式
          a:visited{} 给访问过的链接设置颜色（由于隐私设置）
          所有元素适用:
          a:hover{} 用来设置鼠标移入的状态
          a:active{} 用来表示鼠标点击
 */
/*
          伪元素选择器:
          伪元素:表示页面里特殊并不实际存在的元素
          伪元素使用 :: 开头

            ;:first letter{} 表示第一个字母
            ::first line{} 表示第一行
            ::selection{} 表示选中的内容
            ::before{} 元素的开始
            ::after{} 元素的最后
              -before和 after必须结合content属性来使用
*/
/*
           继承：
           样式继承：我们为元素设置的样式，同时也会引用到后代元素上
           继承是发生在祖先元素和后代元素之间的

           补充： 并不是所有样式都会被继承，例如背景，布局相关样式

*/
/*
            样式冲突
                   -当我们通过不同的选择器，选中相同的元素，并且为相同样式设置了不同的值时，此时就发生了样式冲突
             样式确定由选择器优先级（权重）决定

             选择器的权重（依次减弱）
                        -内联样式       1，0，0，0
                        -id选择器       0，1，0，0
                        -类和伪类选择器   0，0，1，0
                        -元素选择器      0，0，0，1
                        -通配选择器      0. 0. 0. 0
                        -继承样式        没有优先级
              比较优先级时，需要将所有的优先级进行相加计算，最后优先级越高，越优先显示（分组选择器单独计算）
                         选择器的累加不会超过最大数量级，类选择器也不会超过id选择器
                         如果优先级相等，选择靠下的选择器
                         可以在样式后面添加 !improtant 这样这个样式会到达最高级（慎用）


*/
















